@font-face{
	font-family:'gagalin';
	src: url('../font/Gagalin-Regular.otf');
}


* {
 text-decoration: none;
 list-style: none;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: cardo;
}

:root {
 --white: #fff;
}

html,
body {
 background: rgb(2, 0, 36);
 background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(17, 17, 136, 1) 41%, rgba(0, 212, 255, 1) 100%);
 height: 100%;
 width: 100%;
 scroll-behavior:smooth;
}

main {
  height: 100%;
}


/* Navbar */
.navbar {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: transparent;
 display: flex;
 justify-content: space-between;
 padding: 1.5rem 7%;
 align-items: center;
 z-index:999;
}

.navbar .navbar-brand a {
 color: var(--white);
 font-size: 2rem;
 font-weight: 200;
}

.navbar .navbar-nav a {
 display: inline-block;
 color: var(--white);
 font-size: 1.2rem;
 margin: 0 1.2rem;
 transition: 0.3s;
}

.navbar .navbar-nav a:hover {
 text-shadow: 1px 1px 2px black;
 color: red;
}
.navbar .navbar-nav a::after {
 content: "";
 display: block;
 padding-bottom: 0.5rem;
 border-bottom: 0.1rem solid red;
 transform: scaleX(0);
 transition: 0.3s;
}

.navbar .navbar-nav a:hover::after {
 transform: scaleX(0.5);
}
.navbar .navbar-extra a {
 color: var(--white);
 font-size: 1.2rem;
 margin: 0 1.2rem;
}

.navbar #toggle {
 display: none;
}

/* Akhir Navbar */

/* Section */
section {
position:relative;
 background:liner-gradient(280deg, rgba(93,32,224,1)1%,rgba(11,9,9,1)93%);
 padding: 3rem 0 0 8%;
 height: 100vh;
 overflow:hidden;
}


section .row .content {
 position:absolute;
 top:50%;
 transform:translateY(-50%);
 background:url('../img/img-bg/Star.png');
 background-size:cover;
 z-index:99;
}

section .row .content h1 {
 font-size: 6.5rem;
 color: var(--white);
 font-weight: bold;
 text-shadow: 2px 2px 5px black;
 margin-top: auto;
}

section .row .content .line1,
.line2 {
 width: 45%;
 height: 3px;
 background-color: red;
 margin-bottom: 3%;
}

section .row .content .line2 {
 margin-left: 10%;
}

section .row .content p {
 font-size: 1rem;
 color: #fff;
 font-style:oblique;
}

section .row .content .btn-more{
	display:inline-block;
	margin-top:0.5rem;
	padding: 0.2rem 0.8rem;
	color:white;
	background-color:red;
	border-radius:5px;
	transition:0.3s;
	font-size:1rem;
}

section .row .content .btn-more:hover{
	background-color:pink;

}
section .row .img{
	position:absolute;
	top:50%;
	left:80%;
	transform:translate(-50%,-50%);
	height:55rem;
}

section .row h2{
	position:absolute;
	top:50%;
	left:80%;
	transform:translate(-70%,-50%);
	font-family:'gagalin';
	color:red;
	font-size:4rem;
	text-transform:uppercase;
	text-shadow: 2px 2px 5px black;
	width:25rem;
	text-align:center;
	display:inline-block;
}

section .row .cloud1{
	position:absolute;
	top:20%;
	left:45%;
	transform:translate(-50%,-50%);
	height:30rem;
	/* animation:wind 120s infinite; */
}

section .row .cloud2{
	position:absolute;
	top:65%;
	left:55%;
	transform:translate(-50%,-50%);
	height:20rem;
	/* animation:wind2 240s infinite; */
}

section .row .cloud3{
	position:absolute;
	top:80%;
	left:20%;
	transform:translate(-50%,-50%);
	height:15rem;
}
/* Akhir Section */

/* Tag */
	.tag{
		position:fixed;
		left:-150px;
		bottom:20%;
		transform:translate(-50%,-50%);
		color:white;
		transform:rotate(90deg);
		z-index:99;
		font-size:1rem;
		font-weight:50;
		display:inline;
		width:25rem;
		text-align:center;
	}
/* Akhir Tag */

section .row .hero{
	width:30rem;
	height:28rem;
	object-fit:cover;
	box-shadow: 0 0 1rem white;
	transform:translate(-70%,-50%);
	border-radius:1rem;
}

section .row .content .icon-contact{
	display:block;
	color:white;
	font-size:0.8rem;
}

/* Tablet */
@media (max-width: 909px) {
 .navbar .navbar-extra {
  display: none;
 }

 .navbar .navbar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  right: -100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  transition: 0.3s;
 }
 .navbar .navbar-nav.active {
  right: 0;
 }
 .navbar .navbar-nav a {
  display: block;
  text-align: center;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
 }
 .navbar .navbar-brand {
  z-index: 999;
 }
 .navbar #toggle {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  color: var(--white);
  z-index: 999;
 }
 
 
 section .row .content h1 {
 font-size: 5.5rem;
 }
 
 section .row .content p {
 font-size: 0.8rem;
 }
 
 section .row .img{
height:35rem;
	width:35rem;
 }
 
 section .row h2{
	font-size:2.5rem;
}

section .row .hero{
	width:26rem;
	height:22rem;
}


/* Mobile Phone */
@media (max-width: 630px) {
 .navbar .navbar-brand a {
  font-size: 1.5rem;
 }
 .navbar #icon {
  font-size: 1.5rem;
 }
 
 section .row .content {
 position:absolute;
 top:70%;
 transform:translateY(-50%);
 background:url('../img/img-bg/Star.png');
 background-size:cover;
 z-index:99;
 width:50%;
}
 
section .row .content h1 {
 font-size: 3rem;
 line-height:4rem;
 font-weight:200;
 }
 
  section .row .content p {
 font-size: 0.5rem;
 }
 
 section .row .content .btn-more{
	 position:absolute;
	 right:0;
	 bottom:-40px;
	 font-size:0.7rem;
	 padding: 0.1rem 0.5rem
 }
 
section .row .img{
	position:absolute;
	top:35%;
	left:50%;
	transform:translate(-50%,-50%);
	height:30rem;
	width:30rem;
}
 
  section .row h2{
	position:absolute;
	top:35%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:2rem;
}

.tag{
	position:fixed;
	left:80%;
	bottom:10%;
	z-index:9999;
}

section .row .hero{
	top:40%;
	width:65%;
	height:65%;
}

section .row h2{
	position:absolute;
	top:35%;
	left:50%;
	transform:translate(-50%,-50%);
}

section .row .cloud1{
	transform:translate(-60%,-50%);
	height:15rem;
	/* animation:wind 120s infinite; */
}

section .row .cloud2{
	height:10rem;
}

section .row .cloud3{
	height:5rem;
}
}


@keyframes wind{
	0% {
		left:0%;
	}
	100%{
		left:100%;
	}
}

@keyframes wind2{
	0% {
		left:55%;
	}
	50%{
		left:100%;
	}
	
}
